/google*.html
/*.log
/cookie-name
/uploads/*
!/uploads/.htaccess

/optimized/*
!/optimized/.gitkeep

/system/cache/*
!/system/cache/.gitkeep

/beneficii_clienti_corporate/archive/*.html
/oferte_eveniment_iasi/archive/*.html
/resources/
/themes/accent/assets/images/*
!/themes/accent/assets/images/.gitkeep
/themes/newux/assets/*.tgz
/themes/newux/assets/*.json
!/themes/newux/assets/.gitkeep
/themes/newux/views/partials/module/backup/*
!/themes/newux/views/partials/module/backup/.gitkeep

/audit/system/*.gz
/audit/system/*.log

!/audit/system/geolite/*
!/audit/system/geolite/.gitkeep

/app/logs/*
!/app/logs/.gitkeep

/app/cache/*
!/app/cache/.gitkeep

/app/tmp/*
!/app/tmp/.gitkeep